<div class='container pb-2 pt-2'>
  <div class='row'>
      <!-- 时间间隔选择器 -->
      <div class="col-12 col-lg-4 text-center pb-2">
        <div class="btn-group blocks" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary" onclick="refreshChartWithInterval(1)">1分钟</button>
          <button type="button" class="btn btn-outline-secondary" onclick="refreshChartWithInterval(5)">5分钟</button>
          <button type="button" class="btn btn-outline-secondary" onclick="refreshChartWithInterval(10)">10分钟</button>
          <button type="button" class="btn btn-outline-secondary" onclick="refreshChartWithInterval(30)">30分钟</button>
        </div>
      </div>
  </div>

  <div class='row'>
      <div class="col-5 col-lg-4 pb-2 pr-0 text-right">
        <div class="btn-group blocks" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary btn-type type-total" onclick="refreshChartWithType('total')">票数</button>
          <button type="button" class="btn btn-outline-secondary btn-type type-increase" onclick="refreshChartWithType('increase')">涨幅</button>
        </div>
      </div>

      <!-- 日期选择器 -->
      <div class='col-6 col-lg-4 text-left pl-1'>
        <input type="text" class="dateselect form-control" placeholder='选择日期: {{date}}' required="required"/>
      </div>
    </div>
</div>

<script>

function chartWithParam(paramName, paramValue) {
  var url = new URL(window.location.href)
  url.searchParams.set(paramName, paramValue)
  return url
}

function refreshChartWithInterval(interval) {
  window.location = chartWithParam('interval', interval)
}

function refreshChartWithType(type) {
  window.location = chartWithParam('type', type)
}

$(document).ready(function(){
  var url = new URL(window.location.href)
  var interval = url.searchParams.get('interval')
  if (interval == null) {
    interval = 5
  }
  $(".btn-outline-secondary").each(function() {
    var buttonVal = $(this).text().split('分')[0]
    if (buttonVal == interval) {
      $(this).addClass("active")
    } else {
      $(this).removeClass("active")
    }
  })

  var type = url.searchParams.get('type')
  if (type == null) {
    type = 'increase'
  }
  var typeDict = {'total': '票数', 'increase': '涨幅'}
  $(".btn-type").each(function() {
    var buttonVal = $(this).text()
    if (buttonVal == typeDict[type]) {
      $(this).addClass("active")
    } else {
      $(this).removeClass("active")
    }
  })
});

$('.dateselect').datepicker({
      format: 'mm-dd-yyyy',
      startDate: '07-17-2020',
      endDate:'10d'
  }).on('changeDate', function(e) {
      var date = formatDate(e.date)
      window.location = chartWithParam('date', date)
  });

  function formatDate(date) {
    var month = '' + (date.getMonth() + 1)
    var day = '' + date.getDate()
    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [month, day].join('-');
  }

</script>