{% include 'components/head.html' %}

{% include 'components/nav.html' %}

<div class='container pb-4'>
  <div class='row'>
    <div class="col-12">
      <h1>2020超新星榜单源数据下载</h1>
    </div>
  </div>
</div>

<div class='container'>
  <div class='row'>
    <div class='col-6'>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">宣誓人旗手榜</a>
        {% for file in files %}
            <a href="{{ url_for('downloadRawData', campaign = 'data', filename = file) }}" class="list-group-item list-group-item-action">{{ file }}</a></li>
        {% endfor %}
      </div>
    </div>
    <div class='col-6'>
      <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">和平精英榜</a>
        {% for file in files %}
            <a href="{{ url_for('downloadRawData', campaign = 'peace', filename = file) }}" class="list-group-item list-group-item-action">{{ file }}</a></li>
        {% endfor %}
      </div>
    </div>
  <div>
</div>
