<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
	<title>{{title}}</title>
</head>
<body>
	<h1>{{title}}</h1>

	<div class = "center">
	  {% if request.path == url_for('index') %}
	      <button type="button" class="button" onclick="window.location.href='{{ url_for('graph') }}';">显示宣誓人图表</button>
	      <button type="button" class="button" onclick="window.location.href='{{ url_for('peace') }}';">显示和平精英数据</button>
	      <button type="button" class="button" onclick="window.location.href='{{ url_for('peaceGraph') }}';">显示和平精英图表</button>
	  {% endif %}
	  {% if request.path == url_for('peace') %}
	      <button type="button" class="button" onclick="window.location.href='{{ url_for('index') }}';">显示宣誓人数据</button>
	      <button type="button" class="button" onclick="window.location.href='{{ url_for('graph') }}';">显示宣誓人图表</button>
	      <button type="button" class="button" onclick="window.location.href='{{ url_for('peaceGraph') }}';">显示和平精英图表</button>
	  {% endif %}
	</div>
	<div class="table">
		{% block body %}
		{{ data|safe }}
		{% endblock %}  
	</div>
</body>
</html>