<!DOCTYPE html>
<html>
{% include 'components/head.html' %}

<body>
	{% include 'components/nav.html' %}

	<div class='container pb-2'>
	  <div class='row'>
	    <div class="col-12">
	      <h1>{{title}}</h1>
	    </div>
	  </div>

	  <div class="col-12 col-lg-4 text-center pb-2">
        <div class="btn-group blocks" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary" onclick="refreshTableWithInterval(1)">1分钟</button>
          <button type="button" class="btn btn-outline-secondary" onclick="refreshTableWithInterval(5)">5分钟</button>
          <button type="button" class="btn btn-outline-secondary" onclick="refreshTableWithInterval(10)">10分钟</button>
          <button type="button" class="btn btn-outline-secondary" onclick="refreshTableWithInterval(30)">30分钟</button>
        </div>
      </div>

	  <div class='row'>
	      <!-- 日期选择器 -->
	      <div class='col-1'></div>
	      <div class='col-10 col-lg-4 text-center'>
	        <input type="text" class="dateselect form-control" placeholder='选择日期: {{date}}' required="required"/>
	      </div>
	      <div class='col-1'></div>
	  </div>

	  <div class='row pt-2'>
	  	<div class='col-1'></div>
	    <div class="col-10 col-lg-10 table-cxx">
	      {% block body %}
			{{ data|safe }}
		  {% endblock %}
	    </div>
	    <div class='col-1'></div>
	  </div>

	</div>
</body>

<script>
	function tableWithParam(paramName, paramValue) {
	  var url = new URL(window.location.href)
	  url.searchParams.set(paramName, paramValue)
	  return url
	}

	function refreshTableWithInterval(interval) {
	  window.location = tableWithParam('interval', interval)
	}

	function refreshTableWithType(type) {
	  window.location = tableWithParam('type', type)
	}

	$(document).ready(function(){
	  var url = new URL(window.location.href)
	  var interval = url.searchParams.get('interval')
	  if (interval == null) {
	    interval = 5
	  }
	  $(".btn-outline-secondary").each(function() {
	    var buttonVal = $(this).text().split('分')[0]
	    if (buttonVal == interval) {
	      $(this).addClass("active")
	    } else {
	      $(this).removeClass("active")
	    }
	  })

	  var type = url.searchParams.get('type')
	  if (type == null) {
	    type = 'increase'
	  }
	  var typeDict = {'total': '票数', 'increase': '涨幅'}
	  $(".btn-type").each(function() {
	    var buttonVal = $(this).text()
	    if (buttonVal == typeDict[type]) {
	      $(this).addClass("active")
	    } else {
	      $(this).removeClass("active")
	    }
	  })
	});

	$('.dateselect').datepicker({
	      format: 'mm-dd-yyyy',
	      startDate: '07-17-2020',
	      endDate:'10d'
	  }).on('changeDate', function(e) {
	      var date = formatDate(e.date)
	      window.location = tableWithParam('date', date)
	  });

	  function formatDate(date) {
	    var month = '' + (date.getMonth() + 1)
	    var day = '' + date.getDate()
	    if (month.length < 2) 
	        month = '0' + month;
	    if (day.length < 2) 
	        day = '0' + day;

	    return [month, day].join('-');
	  }

</script>
</html>