<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">2020超新星数据</a>

    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">宣誓人数据 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('graph') }}">宣誓人图表 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('peace') }}">和平精英数据 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('peaceGraph') }}">和平精英图表 <span class="sr-only">(current)</span></a>
      </li>
    </ul>
</nav>