<head>
  <meta charset="utf-8" />
  <meta content='maximum-scale=1.0, initial-scale=1.0, width=device-width' name='viewport'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <title>{{title}}</title>
  <!-- import plugin script -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"/>
  <script src='static/javascript/Chart.min.js'></script>
</head>

{% include 'nav.html' %}

<div class='container pb-2'>
  <div class='row'>
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>

<!-- bar chart canvas element -->
<div class='container'>
  <div class='row' style='height:40vh;'>
    <div class="col-12"><canvas id="myChart" class="chart"></canvas></div>
  </div>
</div>

<script>
Chart.defaults.global.responsive = false;
 
// define the chart data
var chartData = {
  labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
  datasets : [
    {
      label: '{{ legends[0] }}',
      fill: false,
      borderColor: "rgba(12,28,56,1)",
      backgroundColor: "rgba(12,28,56,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[0] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[1] }}',
      fill: false,
      borderColor: "rgba(255,157,162,1)",
      backgroundColor: "rgba(255,157,162,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[1] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[2] }}',
      fill: false,
      borderColor: "rgba(255, 165, 0, 1)",
      backgroundColor: "rgba(255, 165, 0, 1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[2] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[3] }}',
      fill: false,
      borderColor: "rgba(203,167,249,1)",
      backgroundColor: "rgba(203,167,249,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[3] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[4] }}',
      fill: false,
      borderColor: "rgba(176,224,230,1)",
      backgroundColor: "rgba(176,224,230,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[4] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[5] }}',
      fill: false,
      borderColor: "rgba(132,175,212,1)",
      backgroundColor: "rgba(132,175,212,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[5] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[6] }}',
      fill: false,
      borderColor: "rgba(205,190,112,1)",
      backgroundColor: "rgba(205,190,112,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[6] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[7] }}',
      fill: false,
      borderColor: "rgba(205,201,201,1)",
      backgroundColor: "rgba(205,201,201,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[7] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[8] }}',
      fill: false,
      borderColor: "rgba(188,238,104,1)",
      backgroundColor: "rgba(188,238,104,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[8] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[9] }}',
      fill: false,
      borderColor: "rgba(255,45,81,1)",
      backgroundColor: "rgba(255,45,81,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[9] %}
                {{item}},
              {% endfor %}]
    }
  ]
}
 
// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");
 
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
  options: {
    tooltips: {
      mode: 'index',
      interest: 'false'
    },
    hover: {
      mode: 'nearest',
      intersect: 'true'
    },
    responsive: true,
    maintainAspectRatio: false
  }
});
</script>