{% include 'components/head.html' %}

{% include 'components/nav.html' %}

<div class='container'>
  <div class='row'>
    <div class="col-12">
      <h1>{{title}}</h1>
    </div>
  </div>
</div>

<!-- Date and Interval selector -->
{% include 'components/segment.html' %}

<!-- bar chart canvas element -->
<div class='container pt-2'>
  <div class='row' style='height:50vh;'>
    <div class="col-12"><canvas id="myChart" class="chart"></canvas></div>
  </div>
</div>

<script>
Chart.defaults.global.responsive = false;
 
// define the chart data
var chartData = {
  labels : [{% for item in labels %}
             "{{item}}",
            {% endfor %}],
  datasets : [
    {
      label: '{{ legends[0] }}',
      fill: false,
      borderColor: "rgba(12,28,56,1)",
      backgroundColor: "rgba(12,28,56,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[0] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[1] }}',
      fill: false,
      borderColor: "rgba(255,157,162,1)",
      backgroundColor: "rgba(255,157,162,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[1] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[2] }}',
      fill: false,
      borderColor: "rgba(255, 165, 0, 1)",
      backgroundColor: "rgba(255, 165, 0, 1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[2] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[3] }}',
      fill: false,
      borderColor: "rgba(203,167,249,1)",
      backgroundColor: "rgba(203,167,249,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[3] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[4] }}',
      fill: false,
      borderColor: "rgba(176,224,230,1)",
      backgroundColor: "rgba(176,224,230,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[4] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[5] }}',
      fill: false,
      borderColor: "rgba(132,175,212,1)",
      backgroundColor: "rgba(132,175,212,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[5] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[6] }}',
      fill: false,
      borderColor: "rgba(205,190,112,1)",
      backgroundColor: "rgba(205,190,112,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[6] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[7] }}',
      fill: false,
      borderColor: "rgba(205,201,201,1)",
      backgroundColor: "rgba(205,201,201,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[7] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[8] }}',
      fill: false,
      borderColor: "rgba(188,238,104,1)",
      backgroundColor: "rgba(188,238,104,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[8] %}
                {{item}},
              {% endfor %}]
    },
    {
      label: '{{ legends[9] }}',
      fill: false,
      borderColor: "rgba(255,45,81,1)",
      backgroundColor: "rgba(255,45,81,1)",
      borderWidth: 2,
      pointRadius: 2,
      data : [{% for item in values[9] %}
                {{item}},
              {% endfor %}]
    }
  ]
}
 
// get chart canvas
var ctx = document.getElementById("myChart").getContext("2d");
 
// create the chart using the chart canvas
var myChart = new Chart(ctx, {
  type: 'line',
  data: chartData,
  options: {
    tooltips: {
      mode: 'index',
      interest: 'false'
    },
    hover: {
      mode: 'nearest',
      intersect: 'true'
    },
    legend: {
      position: 'bottom'
    },
    responsive: true,
    maintainAspectRatio: false
  }
});
</script>