<div class='container pb-4 pt-4'>
  <div class='row'>
      <div class="col-6 text-right">
        <div class="btn-group blocks" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-outline-secondary interval-one" onclick="refreshChartWithInterval(1)">1分钟</button>
          <button type="button" class="btn btn-outline-secondary interval-five" onclick="refreshChartWithInterval(5)">5分钟</button>
          <button type="button" class="btn btn-outline-secondary interval-ten" onclick="refreshChartWithInterval(10)">10分钟</button>
          <button type="button" class="btn btn-outline-secondary interval-thirty" onclick="refreshChartWithInterval(30)">30分钟</button>
        </div>
      </div>
      <div class='col-4 text-left'>
        <input type="text" class="dateselect form-control" placeholder='选择想查看的日期' required="required"/>
      </div>
  </div>
</div>

<script>

function chartWithParam(paramName, paramValue) {
  var url = new URL(window.location.href)
  url.searchParams.set(paramName, paramValue)
  return url
}

function refreshChartWithInterval(interval) {
  window.location = chartWithParam('interval', interval)
}

$(document).ready(function(){
  var interval = window.location.href.split('=')[1]
  console.log(interval)
  $(".btn-outline-secondary").each(function() {
    var buttonVal = $(this).text().split('分')[0]
    if (buttonVal == interval) {
      $(this).addClass("active")
    } else {
      $(this).removeClass("active")
    }
  })
});

$('.dateselect').datepicker({
      format: 'mm-dd-yyyy',
      startDate: '07-17-2020',
      endDate:'10d',
      todayHighlight: 'True'
  }).on('changeDate', function(e) {
      var date = formatDate(e.date)
      window.location = chartWithParam('date', date)
  });

  function formatDate(date) {
    var month = '' + (date.getMonth() + 1)
    var day = '' + date.getDate()
    if (month.length < 2) 
        month = '0' + month;
    if (day.length < 2) 
        day = '0' + day;

    return [month, day].join('-');
  }

</script>